<!DOCTYPE html>
<html class=''>
<head>

<style>
     .container{
        border : 1px solid;
        background-color: red;

        }

        .row{
            border: 1px solid;
            background-color: blue;
        }

</style>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>All Students </h1>
                
            </div>
        </div>
    </div>



<div class="row">
<div class="container xl-6">
    data 

</div>

<div class = "container xl-6">
    data2

</div>

</body>
</html>

